In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [6]:
data = pd.read_csv('heart_failure_clinical_records-sample.csv')
train, test = train_test_split()

,Unnamed: 0,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,1820,50.0,1,1051,1,30,0,232000.0,0.70,136,0,0,246,0
1,1587,40.0,1,129,0,35,0,255000.0,0.90,137,1,0,209,0
2,2782,65.0,1,305,0,25,0,298000.0,1.10,141,1,0,87,0
3,4789,40.0,0,582,1,35,0,222000.0,1.00,132,1,0,244,0
4,2048,63.0,1,61,1,40,0,221000.0,1.10,140,0,0,86,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,294,75.0,1,582,0,40,0,242000.0,1.83,134,1,0,113,1
296,3208,72.0,1,943,0,25,1,338000.0,1.70,139,1,1,111,1
297,4027,45.0,0,582,0,20,1,126000.0,1.60,135,1,0,180,1
298,1783,60.0,1,76,1,25,0,196000.0,2.50,132,0,0,77,1
299,3666,68.0,1,577,0,25,1,166000.0,1.00,138,1,0,43,1